<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Store</title>
    <script type="text/javascript" src="/js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
  </head>
  <body>

     <!-- Header logo and title -->
     <header>
      <img src="/images/logo.jpg" alt="logo" width="50px" height="40px" />
      <div class="heading">
        <p id="mainHeading"><strong>Dallas Flower World </strong></p>
      </div>
    </header>

    <!-- navbar -->
    <nav class="navbar">
        <ul class="nav-list">          
            <li><a href="/" class="active">Home</a></li>
            <li> <a href="/details" >View</a></li>
            <li><a href="/#" >Contact Us</a></li>
        </ul>     
    </nav>
      
</html>
